@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "../../node_modules/font-awesome/less/font-awesome";
@import "../../node_modules/bootswatch/superhero/variables";
@import "../../node_modules/bootswatch/superhero/bootswatch";

@color-body: #2b3e50;
@color-body-overlayed: #161f28;
@color-default: #4e5d6c;
@color-default-hover: #485563;
@color-primary: #df691a;
@color-line: #596a7b;
@color-text: #ebebeb;

@import "rs.slider.less";

.main-font() {
    font-family: "Inconsolata", monospace;
    font-size: 17px;
}

body {
    .main-font();
    padding: 0;
    margin: 0;
}

#content {
    position: relative;
    width: 1180px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#guiMaster {
    width: 100%;
}

#progressBarParent {
    width: 200px;
    height: 21px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #222;
    border-radius: 4px;
    background-color: #eee;
}

#progressBar {
    width: 1px;
    height: 21px;
    margin: 0 auto 0 0;
    border: 0;
    background: #446 url("../image/gui/progressbar.png") repeat-x;
}

img {
    border: none;
}

p img {
    vertical-align: middle;
}

table.ui h3 {
    padding: 0;
    margin: 0 0 4px 0;
    color: #fff;
    font-size: 14px;
}

table.subui, table.subui td {
    border-collapse: collapse;
    padding: 1px;
    border: 0;
}

#sequencer.edit, #pattern.edit, #fxtrack.edit {
    border-color: #f44;
}

#fxtrack {
    width: 53px;
    max-height: 485px;
    overflow: auto;
    overflow-y: scroll;
}

#statusText {
    margin-top: 10px;
    text-align: center;
}

table.tracks, table.tracks td, table.tracks th {
    border: 1px solid #333;
    border-collapse: collapse;
    padding: 0 2px;
    font-size: 10px;
    text-align: center;
    cursor: default;
}

table.tracks th {
    width: 18px;
    color: #ffe;
    background: #112;
}

table.tracks td {
    color: #dda;
    background: #447;
}

table.tracks tr.beat td {
    background: #559;
}

table.tracks th.playpos {
    background: #667;
    color: #fff;
}

table.tracks td:hover, table.tracks tr.beat td:hover {
    color: #ddd;
    background: #77d;
}

table.tracks td.selected, table.tracks tr.beat td.selected {
    color: #fff;
    background: #88f;
}

#sequencer table.tracks td {
    width: 18px;
}

#pattern table.tracks td {
    width: 24px;
}

#fxtrack table.tracks td {
    width: 34px;
}

.slider {
    width: 201px;
    height: 12px;
    background: url("../image/gui/slider-bg.png") no-repeat;
    padding: 0;
    margin: 0;
}

.slider img {
    cursor: pointer;
}

#osc1_wave_sin, #osc1_wave_saw, #osc1_wave_sqr, #osc1_wave_tri,
#osc2_wave_sin, #osc2_wave_saw, #osc2_wave_sqr, #osc2_wave_tri,
#lfo_wave_sin, #lfo_wave_saw, #lfo_wave_sqr, #lfo_wave_tri,
#fx_filt_lp, #fx_filt_hp, #fx_filt_bp, #fx_filt_n {
    cursor: pointer;
}

.button {
    width: 120px;
    height: 32px;
    padding: 4px 0 4px 8px;
    margin: 2px 1px;
    border: 1px solid #888;
    border-radius: 7px;
    background: #d8d8d8 url("../image/gui/button-bg.gif") repeat-x;
    /*  box-shadow: 0 1px 3px #555; */
}

.smallButton {
    width: 24px;
    height: 24px;
    padding: 3px;
    margin: 1px;
    border-radius: 3px;
    background: #d8d8d8 url("../image/gui/smallButton-bg.gif") repeat-x;
}

.button, .smallButton {
    // font-family: arial, sans, serif;
    font-size: 11px;
    color: #000;
    cursor: pointer;
    overflow: hidden;
}

.button:hover {
    background: #f6f6f0;
    color: #444;
    border-color: #aa8;
}

.smallButton:hover {
    background: #d8d8d8 url("../image/gui/smallButton-bg-over.gif") repeat-x;
}

.button img, .smallButton img {
    vertical-align: middle;
    margin-right: 4px;
}

.box {
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.octaveSelector {
    padding-bottom: 6px;
}

#octaveDown, #octaveUp, #patternCopy, #patternPaste {
    cursor: pointer;
}

#cover {
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

#cover #dialog {
    visibility: hidden;
    width: 600px;
    margin: 100px auto auto auto;
    padding: 30px 10px;
    background: #fff;
    border: 1px solid #555;
    text-align: center;
    border-radius: 6px;
}

#cover #dialog img {
    vertical-align: middle;
    margin-right: 20px;
}

#cover #dialog {
    font-size: 14px;
}

#cover #dialog h3 {
    margin: 0;
    font-size: 24px;
}

@sequencer-width: 220px;
@pattern-width: 146px;
@fx-width: 70px;
@tracks-height: 483px;

.track-wrapper() {
    border: 1px solid @color-body;
    height: @tracks-height;
    overflow: auto;
    margin-bottom: 4px;
}

.btn-sqr {
    border: 1px solid @color-default-hover;
    width: 32px;
    margin-bottom: 6px;
}

#guiMaster {
    background: @color-default;

    td {
        vertical-align: top;
        border-collapse: collapse;
        padding: 16px 4px 4px;

        &.border-bottom {
            border-bottom: 1px solid @color-line;
        }

        &.border-right {
            border-right: 1px solid @color-line;
        }
    }

    #logo {
        text-align: center;
        cursor: pointer;

        h3 {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 0;
            color: @color-primary;
        }

        h2 {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: bold;
        }
    }

    // song
    #UItable {
        padding-top: 4px;

        .btn {
            text-align: left;
        }
    }

    // playlist
    #cell-sequencer {
        padding-top: 4px;

        #sequencer {
            .track-wrapper();
            width: @sequencer-width;

            td {
                padding: 0 2px;
            }
        }
    }

    // pattern
    #cell-pattern {
        padding-top: 4px;
        width: @pattern-width + 8px;

        #pattern {
            .track-wrapper();
            width: @pattern-width;

            td {
                padding: 0 2px;
                width: 24px;
            }
        }
    }

    // effects
    #cell-effects {
        padding-top: 4px;
        width: @fx-width + 8px;

        #fxtrack {
            .track-wrapper();
            width: @fx-width;
        }

        td {
            padding: 0 2px;
        }
    }

    // BPM etc.
    #cell-settings {
    }

    // VU-meter
    #cell-meter {
        width: @sequencer-width + 8px;

        #playGfxCanvas {
            width: @sequencer-width;
            height: 65px;
            border: 1px solid @color-body;
        }
    }

    // MIDI input
    #cell-midi {
    }

    // instrument
    #cell-instrument {
        padding-top: 4px;
        padding-right: 16px;
        padding-bottom: 16px;

        legend {
            font-size: 14px;
        }

        td {
            padding: 1px;
        }

        hr {
            margin-top: 8px;
            margin-bottom: 8px;
        }

        .keyboard {
            text-align: center;

            img {
                vertical-align: middle;
                cursor: pointer;
            }
        }

        .ui {
            width: 100%;

            .subui {
                width: 100%;
            }
        }
    }
}

#cover {
    background: rgba(29, 37, 45, 0.6);
}

//

.btn-icon {
    & > .fa {
        margin-right: 10px;
    }
}

.knob-wrap {
    text-align: center;

    & > div {
        margin: 0 auto;
    }

    label {
        margin-bottom: 0;
    }
}

// Modals

#modal-about {
    .modal-body {
        h3 {
            color: @color-primary;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 26px;
        }

        h2 {
            margin-top: 0;
            font-size: 26px * 1.6;
        }

        img {
            width: 48px;
            margin-bottom: 10px;
        }
    }
}

#modal-open {
    .radio:first-child {
        margin-top: 0;
    }

    .alert {
        margin-bottom: 0;
        margin-top: 20px;
    }
}

// Loader

body:not(.loaded) {
    overflow: hidden;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;
    padding: 0;
    margin: 0;

    @keyframes spin {
        0% {
            transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: @color-text;
        animation: spin 2s linear infinite;
        z-index: 1300;

        &:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: @color-body-overlayed;
            animation: spin 3s linear infinite;
        }

        &:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: @color-primary;
            animation: spin 1.5s linear infinite;
        }
    }

    .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: @color-body-overlayed;
        z-index: 1200;

        &.section-left {
            left: 0;
        }

        &.section-right {
            right: 0;
        }
    }
}

.loaded {
    #loader-wrapper {
        visibility: hidden;
        transform: translateY(-100%);
        transition: all 0.3s 1s ease-out;

        .loader-section {
            &.section-left {
                transform: translateX(-100%);
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            }

            &.section-right {
                transform: translateX(100%);
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
            }
        }

        #loader {
            opacity: 0;
            transition: all 0.3s ease-out;
        }
    }
}