@color-body: #2b3e50;
@color-default: #4e5d6c;
@color-default-hover: #485563;
@color-primary: #df691a;
@color-line: #596a7b;

.main-font() {
    font-family: 'Inconsolata', monospace;
    font-size: 17px;
}

body {
    .main-font();
    padding: 0;
    margin: 0;
}

#content {
    position: relative;
    width: 1180px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#guiMaster {
    width: 100%;
}

#progressBarParent {
    width: 200px;
    height: 21px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #222;
    border-radius: 4px;
    background-color: #eee;
}

#progressBar {
    width: 1px;
    height: 21px;
    margin: 0 auto 0 0;
    border: 0;
    background: #446 url("../image/gui/progressbar.png") repeat-x;
}

img {
    border: none;
}

p img {
    vertical-align: middle;
}

a {
    color: #006;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #448;
}

h1 {
    margin: 0;
    text-align: center;
    background: #eee;
}

table.ui h3 {
    padding: 0;
    margin: 0 0 4px 0;
    color: #fff;
    font-size: 14px;
}

table.subui, table.subui td {
    border-collapse: collapse;
    padding: 1px;
    border: 0;
}

#sequencer.edit, #pattern.edit, #fxtrack.edit {
    border-color: #f44;
}

#fxtrack {
    width: 53px;
    max-height: 485px;
    overflow: auto;
    overflow-y: scroll;
}

#statusText {
    color: #469;
    margin-top: 10px;
    font-size: 9px;
    text-align: center;
}

table.tracks, table.tracks td, table.tracks th {
    border: 1px solid #333;
    border-collapse: collapse;
    padding: 0 2px;
    //font-family: "DejaVu Sans Mono", monospace;
    font-size: 10px;
    text-align: center;
    cursor: default;
}

table.tracks th {
    width: 18px;
    color: #ffe;
    background: #112;
}

table.tracks td {
    color: #dda;
    background: #447;
}

table.tracks tr.beat td {
    background: #559;
}

table.tracks th.playpos {
    background: #667;
    color: #fff;
}

table.tracks td:hover, table.tracks tr.beat td:hover {
    color: #ddd;
    background: #77d;
}

table.tracks td.selected, table.tracks tr.beat td.selected {
    color: #fff;
    background: #88f;
}

#sequencer table.tracks td {
    width: 18px;
}

#pattern table.tracks td {
    width: 24px;
}

#fxtrack table.tracks td {
    width: 34px;
}

.slider {
    width: 201px;
    height: 12px;
    background: url("../image/gui/slider-bg.png") no-repeat;
    padding: 0;
    margin: 0;
}

.slider img {
    cursor: pointer;
}

#osc1_wave_sin, #osc1_wave_saw, #osc1_wave_sqr, #osc1_wave_tri,
#osc2_wave_sin, #osc2_wave_saw, #osc2_wave_sqr, #osc2_wave_tri,
#lfo_wave_sin, #lfo_wave_saw, #lfo_wave_sqr, #lfo_wave_tri,
#fx_filt_lp, #fx_filt_hp, #fx_filt_bp, #fx_filt_n {
    cursor: pointer;
}

.button {
    width: 120px;
    height: 32px;
    padding: 4px 0 4px 8px;
    margin: 2px 1px;
    border: 1px solid #888;
    border-radius: 7px;
    background: #d8d8d8 url("../image/gui/button-bg.gif") repeat-x;
    /*  box-shadow: 0 1px 3px #555; */
}

.smallButton {
    width: 24px;
    height: 24px;
    padding: 3px;
    margin: 1px;
    border-radius: 3px;
    background: #d8d8d8 url("../image/gui/smallButton-bg.gif") repeat-x;
}

.button, .smallButton {
    // font-family: arial, sans, serif;
    font-size: 11px;
    color: #000;
    cursor: pointer;
    overflow: hidden;
}

.button:hover {
    background: #f6f6f0;
    color: #444;
    border-color: #aa8;
}

.smallButton:hover {
    background: #d8d8d8 url("../image/gui/smallButton-bg-over.gif") repeat-x;
}

.button img, .smallButton img {
    vertical-align: middle;
    margin-right: 4px;
}

.box {
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.octaveSelector {
    padding-bottom: 6px;
}

#octaveDown, #octaveUp, #patternCopy, #patternPaste {
    cursor: pointer;
}

#logo {
    cursor: pointer;
}

#cover {
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

#cover #dialog {
    visibility: hidden;
    width: 600px;
    margin: 100px auto auto auto;
    padding: 30px 10px;
    background: #fff;
    border: 1px solid #555;
    text-align: center;
    border-radius: 6px;
    /*  box-shadow: 0 0 20px #555; */
}

#cover #dialog img {
    vertical-align: middle;
    margin-right: 20px;
}

#cover #dialog {
    font-size: 14px;
}

#cover #dialog h3 {
    margin: 0;
    font-size: 24px;
}

@sequencer-width: 220px;
@pattern-width: 146px;
@fx-width: 70px;
@tracks-height: 483px;

.track-wrapper() {
    border: 1px solid @color-body;
    height: @tracks-height;
    overflow: auto;
    margin-bottom: 4px;
}

.btn-sm {
    border: 1px solid @color-default-hover;
    width: 32px;
    margin-bottom: 6px;
}

#guiMaster {
    background: @color-default;

    td {
        vertical-align: top;
        border-collapse: collapse;
        padding: 16px 4px 4px;

        &.border-bottom {
            border-bottom: 1px solid @color-line;
        }

        &.border-right {
            border-right: 1px solid @color-line;
        }
    }

    #logo {
        text-align: center;

        h3 {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 0;
            color: @color-primary;
        }

        h2 {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: bold;
        }
    }

    // song
    #UItable {
        padding-top: 4px;

        .btn {
            text-align: left;
        }
    }

    // playlist
    #cell-sequencer {
        padding-top: 4px;

        #sequencer {
            .track-wrapper();
            width: @sequencer-width;

            td {
                padding: 0 2px;
            }
        }
    }

    // pattern
    #cell-pattern {
        padding-top: 4px;
        width: @pattern-width + 8px;

        #pattern {
            .track-wrapper();
            width: @pattern-width;

            td {
                padding: 0 2px;
                width: 24px;
            }
        }
    }

    // effects
    #cell-effects {
        padding-top: 4px;
        width: @fx-width + 8px;

        #fxtrack {
            .track-wrapper();
            width: @fx-width;
        }

        td {
            padding: 0 2px;
        }
    }

    // BPM etc.
    #cell-settings {
    }

    // VU-meter
    #cell-meter {
        width: @sequencer-width + 8px;

        #playGfxCanvas {
            width: @sequencer-width;
            height: 65px;
            border: 1px solid @color-body;
        }
    }

    // MIDI input
    #cell-midi {
    }

    // instrument
    #cell-instrument {
        padding-top: 4px;
        padding-right: 16px;
        padding-bottom: 16px;

        legend {
            font-size: 14px;
        }

        td {
            padding: 1px;
        }

        hr {
            margin-top: 8px;
            margin-bottom: 8px;
        }

        .keyboard {
            text-align: center;

            img {
                vertical-align: middle;
                cursor: pointer;
            }
        }
    }
}

#cover {
    background: rgba(29, 37, 45, 0.6);
}

//

.btn-icon {
    & > .fa {
        margin-right: 10px;
    }
}

.knob-wrap {
    text-align: center;

    & > div {
        margin: 0 auto;
    }

    label {
        margin-bottom: 0;
    }
}